<!doctype html>
<title>{% block title %}{% endblock %} - Bank 266P</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img src= "{{url_for('static',filename = 'vault.png')}}"
       alt="bank"/> &nbsp &nbsp
  <h1>Bank 266P</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <h1 align="center"> Welcome to Bank266P </h1>
  <p style="text-align: center;"><img src= "{{url_for('static',filename = 'piggy.jpeg')}}"
       alt="piggy"/></p>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
